.greeting{
    margin: auto;
    margin-top: 50px;
    border: 1px solid #c5aa6a;
    /* background-size:500px 250px;
    width:500px;
    height: 250px;
    color: white;
    background-image:url("./welcomeBG.JPG"); */
}

button{
   
    /* margin-top: 180px;
    border: white 1px solid; */
}

.button2{
    /* left: 280px; */
}